<% include ./partials/header.ejs %>

    
    <main class="container">
    	<h1><%= title %></h1>
    	<selection class="jumbotron">
    		This application, built in Winter 2017, uses NodeJs, ExpressJs, MongoDB, Monngoose, and Twitter Bootstrap for COMP2068 Advanced Web Programming.
    	</selection>
    </main>
    

<% include ./partials/footer.ejs %>
